<!DOCTYPE html>
<html>
<head>
	<title>Create Post</title>
</head>
<body>
	<table>
		<tr>
			<td>
				<h4>Rabeya </h4>
			</td>
			<td>
				<a href="">Edit</a>
			</td>
			<td>
				<a href="">Delete</a>
			</td>
		</tr>
		<tr>
			<td colspan="3">
					 HELLO
					
		</tr>
	</table>
</body>
</html>

