<!DOCTYPE html>
<html>
<head>
	<title>Post List</title>
</head>
<body>
	<h1>Post List</h1>

	<a href="/home">Back</a> |
	<a href="/logout">logout</a>

<br><br>
	<table border="1" width="80%" align="center">
		<tr>
			<td style="width: 50px">SL No.</td>
			<td style="width: 200px">Creator</td>
			<td style="width: 450px">Description</td>
			<td style="width: 200px">Filepath</td>
			<td style="width: 150px">Create Date</td>
			<td>ACTION</td>
		</tr>
		<tr>
			<td>01</td>
			<td>Someone</td>
			<td></td>
			<td></td>
			<td>30 Auguest, 2019</td>
			<td>
				<a> DELETE </a>
			</td>
		</tr>
	</table>
	<div style="overflow: hidden;margin-top: 1260px;"><% include ../footer/footer.ejs %></div>
</body>
</html>