<!DOCTYPE html>
<html>
<head>
	<title>userlist</title>
</head>
<body>

			<% if (user == null) { %>
			<% include ../header/menu_unr.ejs %>
			<% } else if(user.designation == 'manager') { %>
			<%- include('../header/menu_manager.ejs',{user: user}) %>
			<% } else if(user.designation == 'Executive'){ %>
			<%- include('../header/menu_executive.ejs',{user: user}) %>
			<% } else { %>
			<%- include('../header/menu_GM.ejs',{user: user}) %>
			<% } %>
	<script type="text/javascript">
		
		function adduser()
        {
    var userid=document.getElementById('userid').value;
    var name=document.getElementById('name').value;
    var user=document.getElementById('usertype').value;
    var designation=document.getElementById('designation').value;
	var contactnumber=document.getElementById('contactnumber').value;
	var mail=document.getElementById('email').value;
	var salary=document.getElementById('salary').value;
    var pass=document.getElementById('password').value;

  
    var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

    var noformat = /^\d{11}$/;
    var idformat = /^\(?([0-9]{2})\)?[-]?([0-9]{5})[-]?([1-3]{1})$/;
	
	
    if(!userid.match(idformat)||userid=="")
	{
		
        alert("userid format does not match; maintain xx-xxxxx-1/2/3 format");
        // document.getElementById('errorid').value="User Id an not be empty";
        return false ;
        
	}

	if(name.length<3||name=="")
	{
		
        alert("Username can not be empty and must have 3 characters");
        return false ;
        
	}
    

    else if(usertype=="")
	{
		
        alert("Usertype is blank");
        return false ;
        
	}

	else if(designation=="")
	{
		
        alert("designation is blank");
        return false ;
        
	}

	else if(!contactnumber.match(noformat)||contactnumber=="")
	{
		
        alert("contactnumber must have 11 numbers");
        return false ;
        
	}
	

	else if(!mail.match(mailformat)||mail=="")
    {
        alert("Email format does not match");
        return false;
    }
	else if(salary=="")
	{
		
        alert("salary is blank");
        return false ;
        
	}
    else if(pass=="")
	{
		
        alert("Password can not be empty");
        return false ;
        
	}


	else
	{
        return true;
		
	}
		
		
	
    }
	</script>


	<h1>Add user</h1>

	<a href="/home">Back</a> |
	<!-- <a href="/logout">logout</a> -->

<br><br>

<form method="post" onsubmit="return adduser()">
	<table border="0" style= "margin-left: 30px;padding-left: 30px;">
		<tr>
			<td>User ID</td>
			<td><input type="text" name="userid" id="userid"><span id="errorid"></span></td>
		</tr>
		<tr>
			<td>User Name</td>
			<td><input type="text" name="name" id="name"></td>
		</tr>
		<tr>
			<td>User Type</td>
			<td><input type="text" name="usertype" id="usertype"></td>
		</tr>
		<tr>
			<td>Designation</td>
			<td><input type="text" name="designation" id="designation"></td>
		</tr>
		<tr>
			<td>Contact Number</td>
			<td><input type="text" name="contactnumber" id="contactnumber"></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" name="email" id="email"></td>
		</tr>
		<tr>
			<td>Salary</td>
			<td><input type="text" name="salary" id="salary"></td>
		</tr>
		<tr>
			<td>PASSWORD</td>
			<td><input type="password" name="password" id="password"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="submit" value="Save"></td>
		</tr>
	</table>
</form>
<div style="overflow: hidden;margin-top: 1260px;"><% include ../footer/footer.ejs %></div>
</body>
</html>