
<!DOCTYPE html>
<html>
<head>
	<title>Create Post</title>
</head>
<body>
	<div>
		<div style="height: 100px"></div>
		<div align="center">
			<div style="width: 50%;;" align="justify">
				<h1>Posts</h1>
				<h2>Ety  </h2>
				<p> Post testing</p>
			</div>
	</div>
</body>
</html>